<div class="container">
<form class="col-md-5 bg-light shadow justify-content-center  align-items-center">
  <h2 class="border-bottom"> Timepicker for .NET Timespan</h2>
  <div class="form-check-inline">
    <div class="form-group">
      <div class="border-bottom">
        <timepicker [time]="this.timeValue" [hiddenSeconds]="true"></timepicker>
      </div>
        <timepicker [time]="this.timeValue"></timepicker>
    </div>
    <div class="form-group form-check border-left">
      <div class="form-group">
        <label for="hours">Hours</label>
        <input id="hours" class="form-control item" [value]="this.timeValue.hours" >
      </div>
      <div class="form-group">
        <label for="minutes">Minutes</label>
        <input id="minutes" class="form-control item" [value]="this.timeValue.minutes" >
      </div>
      <div class="form-group">
        <label for="seconds">Seconds</label>
        <input id="seconds" class="form-control item" [value]="this.timeValue.seconds" >
      </div>
      <div class="form-group">
        <label for="totalSeconds">Total seconds</label>
        <input id="totalSeconds" class="form-control item" [value]="this.timeValue.totalSeconds" >
      </div>
    </div>
  </div>
</form>
</div>
